body {
  background: #DCD6CD;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  margin: 0px;

}

/*  MAIN BOX  */

#main-box {
  width: 50%; 
  margin: 30px auto;
  box-sizing: border-box;
}

form p {
   /* display: inline-block; */
   font-weight: bold;
   font-size: 14px;
   box-sizing: border-box;
   color: #58506B;
   margin: 0px;
}

/*  HEADER  */

header {
  width: 100%; 
  padding: 0px;
  box-sizing: border-box;
  margin: 0px 0px;
  float:left;
  border: 1px solid black;
}

.half-header {
  width: 50%;
  box-sizing: border-box;
  float: left;
  border: 1px solid black;
} 

h1 {
  border: 1px solid black;
  margin: 0px 0px 0px;
  color: #938C97;
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  border: 1px solid black;
  background: #938C97;
  color: #FFFFFF;
  width: 50%; 
  padding: 10px;  
  float: left;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*  FORM */

div {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0px;
}

/*  UPPER FORM  */

.up-field {
  border: 1px solid black;
  width: 100%;
  float: left;
  box-sizing: border-box;

}

.up-little {
  border: 1px solid black;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}

/*  MIDDLE FORM  */

.half-field p {
  border: 1px solid black;
  width: 100%;
  margin: 10px auto 3px auto;
}

form input {
  border: 1px solid black;
  width: 98%;
  padding: 5px; 
  
}

.half-field input,
.half-field option {
  box-sizing: border-box;
  font-weight: normal;
  width: 100%;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[id=date] {
  width: 50%;
}

input[name=gender] {
  margin: 10px 0px 10px 10px;
  box-sizing: border-box;
}
  

.half-field {
  border: 1px solid black;
  width: 50%;
  box-sizing: border-box;
  float: left;
  height: 300px;
  padding: 10px;
}

.selection {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 105%;
  box-sizing: border-box;
  padding: 5px;
  color: #7E7975;
  font-weight: normal;
}

.little-half {
  border: 1px solid black;
  width: 50%;
  box-sizing: border-box;
  float: left; 
  height: 60px;
}

input[type=radio] {
  width: auto;
}

label {
  font-size: 14px;
  box-sizing: border-box;
  color: #58506B;
  font-weight: normal;
  margin: 0px;
}

.little {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

/*  LOWER FORM  */

.down-field {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
}
