<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact Card Creator</title>
    <style>
        body {
            text-align:center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        img {
            max-height:500px;
        }

        a {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration:none;
            color:black;
            font-size: 15px;
            padding: 5px;
        }

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        a:hover {
            color:deeppink;
        }

        div {
            border: 2px solid black;
            width: 253px;
            height: 20px;
            margin: 0 auto;
            padding: 10px;
            margin-bottom:5px;
        }
    </style>
</head>
<body>
    <h1>Contact Card Creator Application</h1>
    <h2>Create your own card!</h2>
    <div><a href="/listcontacts">List existing contact cards</a></div>
    <div><a href="/addcontact">Create new contact card</a></div>
    <img src="~/Assets/intro.png" alt="homeless" />
</body>
</html>