/*  TABLE SECTION  */

table {
  border: 15px solid #4285F4;
  border-collapse: collapse;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  height: 290px;
  margin-bottom: 5px;
  width: 380px;
  text-align: center;

}

table:nth-child(1) {
  background: #E67676;
}

table:nth-child(2) {
  background: #A9E6E6;
}
