@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank</title>
</head>
<body>
    <div>
        @(Model.Balance.ToString("n2")) Zebra
    </div>
</body>
</html>
