@model List<ToDoApp.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo CRUD App</title>
    <style>
        span, p {
            font-weight: bold;
        }

        table {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        th {
            border: 2px solid red;
            padding: 0px 3px 0px 3px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        td {
            padding:5px 3px 5px 3px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Done</th>
                <th>Urgent</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var task in Model)
                {
                    <tr>
                        <td>@task.Id</td>
                        <td>@task.Title</td>
                        <td>@task.IsDone</td>
                        <td>@task.IsUrgent</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>